{% extends 'main/base.html' %}

{% block title %}       <title>{% if user.registered or user.is_authenticated %}Create directory{% else %}Access Denied{% endif %} - My Learning Materials</title>{% endblock %}

{% block content %}
                {% load staticfiles %}				
 <div id="myCarousel" class="carousel slide" style="background-image: url({% static 'main/images/old.jpg' %})" data-ride="carousel">

					<div class="container" id="sign-in-window">

      <div class="row">
 <div class="col-lg-4">
</div><div class="col-lg-4">

                               				<h2  class="form-signin-headin"  style="margin-top: 80px; color:#e6e6e6; font-weight:bold; padding-bottom:15px"> {% if user.is_authenticated %} Create new directory</h2>
	
						
						<form class="form-signin" name="change-data-form" id="change-data-form" method="post" action="/files/new_dir/" enctype="multipart/form-data">
            				{% csrf_token %}
							{% for field in new_dir_form %}
							<div class="form-field">
								{{ field.label_tag }}
								{{ field }}

								{% if field.help_text %}
							<p style="padding-top:10px"></p>
								<div class="alert alert-warning">
									<p>{{ field.help_text|safe }}</p>
								</div> {% endif %}
								{% if field.errors %}
                                                             
								<div class="alert alert-danger">
									{% for error in field.errors %}
									<p>{{ error }}</p>
									{% endfor %}
								
                     						</div>			
								{% endif %}
							</div>
							{% endfor %}
							<div class="form-field" style="text-align:center; padding-top:15px">
								<input class="btn btn-default btn-md" type="submit" value="Create!" class="button button-green">
							</div>
        				</form>
					</div>
					
					
				</div>
{% else %}
<h2>You should be logged in</h2>
{% endif %}
{% endblock %}
