{% extends 'main/base.html' %}

{% block title %}		<title>My Lists - Memorize</title>{% endblock %}

{% block content %}	



{% load staticfiles %}				
 

					<div class="container" id="sign-in-window">
{% if user.is_authenticated %}

       


 <h1  class="form-signin-headin"  style="margin-top: 100px; color:#404040; font-weight:bold; text-align:center; padding-bottom: 30px"> My Lists <a href="{% url 'add_list' %}" class="btn btn-default btn-xs"style="color:#009900"><span class="glyphicon glyphicon-plus" style="text-align:center"></span></a> </h1>
{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							<p>{{ message }}</p></div>
{% endfor %}
                          				
{% for list in lists %}
       <div class="col-lg-3" onmouseout="HideMenu({{ list.id }})">
{% load staticfiles %}
{% static "" as baseURL %}
<div id="on_off"  onmouseover="ShowMenu({{ list.id }})">
<div style="text-align:center">
{% if list.status == 'e'%}
          <img class="img-circle" src="{{ baseURL }}/main/images/paper.jpg" alt="Generic placeholder image" width="140" height="140">
{% elif list.status == 'n' %}
          <img class="img-circle" src="{{ baseURL }}/main/images/texture.jpg" alt="Generic placeholder image" width="140" height="140">
{% elif list.status == 's' %}
          <img class="img-circle" src="{{ baseURL }}/main/images/wedding.jpg" alt="Generic placeholder image" width="140" height="140">
{% elif list.status == 'o' %}
          <img class="img-circle" src="{{ baseURL }}/main/images/old_list.jpg" alt="Generic placeholder image" width="140" height="140">
{% elif list.status == 'h' %}
          <img class="img-circle" src="{{ baseURL }}/main/images/hard.jpg" alt="Generic placeholder image" width="140" height="140">
{% elif list.status == 'x' %}
          <img class="img-circle" src="{{ baseURL }}/main/images/super_old.jpg" alt="Generic placeholder image" width="140" height="140">



{% endif %}

<div class="btn-group" id="menu_{{ list.id }}" style="display:none;">
<li class="btn btn-default btn-xs" style="width:21px" ><a href="{% url 'see_list' pk=list.pk %}"style="color:#0000cc"><span class="glyphicon glyphicon-eye-open" style="text-align:center"></span></a></li>
<li class="btn btn-default btn-xs" style="width:21px" ><a href="{% url 'revise' pk=list.pk %}"style="color:#404040"><span class="glyphicon glyphicon-refresh"style="text-align:center"></span></a></li>
<li class="btn btn-default btn-xs" style="width:21px" ><a href="{% url 'add_flashcard' pk=list.pk %}"style="color:#006600"><span class="glyphicon glyphicon-plus-sign"style="text-align:center"></span></a></li>
<li class="btn btn-default btn-xs" style="width:22px" ><a href="{% url 'remove_list' pk=list.pk %}" style="color:#cc0000"><span class="glyphicon glyphicon-remove-sign"style="text-align:center"></span></a></li>
</div>
<h2>{{ list.name }}</h2>
 </div>
              
 </div>
        </div><!-- /.col-lg-4 -->

    
 
    
	
					
					
				
			
{% endfor %}
{% endif %}
{% endblock %}
