{% extends 'main/base.html' %}

{% block title %}
	<title>Reset Password - Memorize</title>
{% endblock %}

{% block content %}
	
	
 
        
		
	{% load staticfiles %}				
 <div id="myCarousel" class="carousel slide" style="background-image: url({% static 'main/images/old.jpg' %})" data-ride="carousel">

					<div class="container" id="sign-in-window">

      <div class="row">
 <div class="col-lg-4">
       				<h2  class="form-signin-headin"  style="margin-top: 80px; color:#e6e6e6; font-weight:bold; padding-bottom:5px"></h2>
       
</div><div class="col-lg-4">


                               				<h2  class="form-signin-headin"  style="margin-top: 80px; color:#e6e6e6; font-weight:bold; padding-bottom:5px"> {% if user.is_authenticated %}You should not be here</h2>{% else %}Change password</h2>
	
						
						<form class="form-signin" name="change-data-form" id="change-data-form" method="post" action="."  enctype="multipart/form-data">
            				{% csrf_token %}
							{% for field in form %}
{% if forloop.counter < 2 %}
							<div class="form-field">
								{{ field.label_tag }}
								{{ field }}
{% else %}

							<div class="form-field">
								<label>Confirmation:</label>
								{{ field }}
{% endif %}
								{% if field.help_text %}
							<p style="padding-top:10px"></p>
								<div class="alert alert-warning">
									<p>{{ field.help_text|safe }}</p>
								</div> {% endif %}
								{% if field.errors %}
                                                             
								<div class="alert alert-danger">
									{% for error in field.errors %}
									<p>{{ error }}</p>
									{% endfor %}
								
                     						</div>			
								{% endif %}
				

			</div>
{% endfor %}
<div class="form-field" style="text-align:center; padding-top:10px">
								<input class="btn btn-default btn-md" type="submit" value="Update!">
							</div>
{% endif %}

		
{% endblock %}
